* {
    background-color: #c0d4d8;
    margin: 0px;
    font-family: 'Asap', sans-serif;
}

div {
    display: inline;
}

ul {
    list-style: none;
}
/* Estilos de la barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #73a1b6;
    padding: 10px;
}


#circulo {
    display: flex;
    align-items: center;
    background-color: #335379;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#logo_principal {
    width: auto;
    max-height: 25px;
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
}

nav ul {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}

nav ul li {
    margin: 5px;
    padding: 5px;
    background-color: #335379;
    border-radius: 10px;
}

a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    transition: .5s all;
}

a:hover {
    padding: 10px;
}

/* Estilos del cuerpo */
article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

article p {
    width: 60%;
    padding: 20% 5%;
    font-size: 24px;
}

article h1 {
    font-size: 32px;
    padding: 3%;
}

.espaciado {
    margin-bottom: 30px;
}

/* Estilos pie de página */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height: 6%;
    width: 100%;
    background-color: #73a1b6;
}

footer div {
    background-color: rgba(0, 0, 0, 0);
}

.columna {
    display: flex;
    flex-direction: column;
}

.decorador_lista {
    list-style-image: url(Imagenes/cheque.png);
}

.experiencia {
    height: auto;
    width: auto;
    padding: 15px;
    margin: auto;
}

h2 {
    padding: 3% 10%;
    width: 100%;
    text-align: center;
}

#dp {
    padding: 35px 0px 10px;
}

#contenedor_foto {
    margin: 25px 0px 35px;
    padding: 0px;
    border: solid black;
    border-radius: 5px;
}

.oculto {
    display: none;
}

button {
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.192);
}

.estrecho {
    height: 10%;
    padding: 20px;
}

.inputs {
    max-width: 30%;
    margin: 10px;
    border: solid black 2px;
    border-radius: 5px;
}

form {
    padding: 5% 20%;
}

#enviar {
    margin: 25px 0px;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: 800;
    background-color: #0a751886;
}

#mensaje {
    background-color: green;
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 20px;
}